*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
    transition: .5s;
}
input:focus{
    background-color: black;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: brown;
    padding: 4px 2px;
    border-radius: 4px;
}
#total::before{
    content:'Total: ';
}

button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #4681f4;
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}
button:hover{
    background-color: #5dbea3;
    letter-spacing: 2px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}

#deleteAll{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
.popup{
    width: 400px;
    background-color: #fff;
    border-radius:6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition:transform .5s,top .4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    padding-bottom: 0px;
    border-radius: 20%;
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #ae5626;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) ;
    height: 40px;
}

.popup button:hover{
    background-color: #5dbea3;
    letter-spacing: 2px;
}